[user]
    email = 117413846+av1155@users.noreply.github.com
    name = Andrea Venti Fuentes
    # signingkey = [Your GPG Key ID]

[core]
    editor = sh -c 'command -v nvim >/dev/null 2>&1 && echo \"nvim\" || command -v code --wait >/dev/null 2>&1 && echo \"code --wait\" || echo \"vi\"'
    autocrlf = input
    excludesfile = ~/.gitignore_global

[alias]
    count = !git ls-remote --heads origin | wc -l
    lg = log --graph --oneline --decorate --all

[color]
    ui = auto
    status = auto
    branch = auto
    diff = auto

[init]
    defaultBranch = main

[push]
    default = current

[merge]
    conflictStyle = diff3

[rebase]
    autosquash = true

[pull]
    rebase = false

[diff]
  algorithm = histogram

