[user]
	email = andrea.venti12@gmail.com
	name = Andrea Venti Fuentes
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore

[alias]
	count = !git ls-remote --heads origin | wc -l
[color]
	ui = auto
[init]
	defaultBranch = main
