" === Plugins ===
let mapleader=" "    
" Set the leader key to the spacebar

""" Plugin settings --------------------------------
set surround         
" Enable the 'surround' plugin for handling surrounding characters
set multiple-cursors 
" Enable the 'multiple-cursors' plugin for editing multiple selections
set commentary       
" Enable the 'commentary' plugin for commenting/uncommenting lines
set argtextobj       
" Enable the 'argtextobj' plugin for defining text objects for function arguments
set easymotion       
" Enable the 'easymotion' plugin for simplified navigation
set textobj-entire   
" Enable the 'textobj-entire' plugin for defining a text object for the entire buffer
set ReplaceWithRegister 
" Enable the 'ReplaceWithRegister' plugin for replacing text with register content
set exchange         
" Enable the 'exchange' plugin for swapping text objects
" Trying the new syntax
Plug 'machakann/vim-highlightedyank'  
" Add the 'vim-highlightedyank' plugin using Vim-Plug

""" Common settings --------------------------------
set showmode          " Display the current mode in the status line
set so=5              " Set the 'scrolloff' option to keep lines visible above and below the cursor
set incsearch         " Enable incremental search
set nu                " Display line numbers in the left margin

""" Idea specific settings ---------------------------
set ideajoin          " Configure IdeaVim-specific setting for joining lines
set ideastatusicon=gray  " Set the status icon color in IntelliJ IDEA to gray

""" Mappings -----------------------------------------
" === Easymotion and Navigation ===
map <leader>f <Plug>(easymotion-s)  
" Map <leader>f to easymotion-s for simplified text navigation
map <leader>e <Plug>(easymotion-f)  
" Map <leader>e to easymotion-f for text movement

" === Debugging ===
map <leader>d <Action>(Debug)        
" Map <leader>d to the Debug action
map <leader>r <Action>(RenameElement) 
" Map <leader>r to the RenameElement action
map <leader>c <Action>(Stop)         
" Map <leader>c to the Stop action
map <leader>z <Action>(ToggleDistractionFreeMode)  
" Map <leader>z to ToggleDistractionFreeMode action

" === Project and VCS ===
map <leader>s <Action>(SelectInProjectView)  
" Map <leader>s to SelectInProjectView action
map <leader>a <Action>(Annotate)             
" Map <leader>a to Annotate action
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)  
" Map <leader>h to Vcs.ShowTabbedFileHistory action
map <S-Space> <Action>(GotoNextError)         
" Map <S-Space> to GotoNextError action

" === Code Formatting ===
map <leader>l V<Action>(ReformatCode)     
" Map <leader>l to ReformatCode action

" === Code Manipulation ===
map <leader>J Ji <ESC>   
" Map <leader>J to Ji and exit insert mode
map H h                   
" Map H to h (seems to be a correction)
map <leader>i ~hi         
" Map <leader>i to toggle case and start typing
vmap <leader>u d~h         
" Map <leader>u to remove selection and toggle case
map U <C-R>               
" Map U to execute a specific action
